profiles {

    standard {
        process.executor = 'local'
    }

    common {

        params.outdir = "results/"
        params.verbose = null

        params.furthest = "NOT PROVIDED"
        params.minimum = "NOT PROVIDED"
        params.threshold = 1

        params.proportional = "NOT PROVIDED"

        params.resolution = 1000

        params.histogram = "NOT PROVIDED"
        params.bins = 2

        executor {
            name = 'slurm'
            queueSize = 10

        }
        process {
            executor = 'slurm'
            withName: create_grid {
                cpus = 4
                memory = 60.GB 
                time = '1h'
            }

            withName: create_histograms {
                cpus = 4
                memory = 60.GB 
                time = '1h'
            } 
        }
    }

    peregrine {

        process {
            withName: create_grid {
                beforeScript = 'module load R'
                queue="regular"
            }

            withName: create_histograms {
                beforeScript = 'module load R'
                queue="regular"
            }

        }
    }

    gearshift {

        process {
            withName: create_grid {
                beforeScript = 'module load R'
                queue="--qos regular"
            }

            withName: create_histograms {
                beforeScript = 'module load R'
                queue="--qos regular"
            }

        }
    }



}
